* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
form{
    margin-bottom: -440px;
}
.contianer{
    height:400px;
    width: 700px;
   
}

.login-table{
    align-items: center;
    margin: 200px 0 0 600px;
    padding:10px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    height: 39px;
    margin-bottom:10px;
}
input[type="submit"] {
    width: 99%;
    padding: 15px;
    background-color: #007bffa1;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #007bff;
}

a{
    text-decoration: none;
    font-size: 14px;
}