<div class="container">
    <form #formLogin = "ngForm" (ngSubmit)="onCheck(formLogin)">
      <table class="login-table">
        <tr>
          <td>
            <label for="username">Username:</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" >
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password:</label>
            <input type="password" id="pass" [(ngModel)] ="pass" name="pass" >
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Submit"><br><br>
          </td>
        </tr>
        <tr *ngIf="loginError">
          <td colspan="2" style="color: red;">
            Username or password is incorrect
          </td>
        </tr>
        <tr>
            <td>
                <a href="">Foget username and password</a><br>
            </td>
            
        </tr>
        <tr>
            <td>
                <a routerLink="/register">No Account Register</a>
            </td>
            
        </tr>
      </table>
    </form>
  </div>
  