<div class="container">
    <form action="#">
      <table class="login-table">
        <tr>
          <td>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Submit"><br><br>
          </td>
        </tr>
        <tr>
            <td>
                <a href="">Foget username and password</a><br>
            </td>
            
        </tr>
        <tr>
            <td>
                <a routerLink="/register">No Account Register</a>
            </td>
            
        </tr>
      </table>
    </form>
  </div>
  